.title {
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.box {
    position: relative;
}

.box:hover {
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

.box:hover .title {
    opacity: 1;
}